@use "../abstracts" as *;

/*------------------------------------*\
  #RATING
\*------------------------------------*/
.rating {
  margin: rem(48) 0;

  @include breakpoint-up("very-small") {
    margin: 0;
  }
}

.rating__item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: rem(15) 0;
  border-radius: 0.5em;
  background-color: $light-grayish-magenta;
  padding: 1em;

  @include breakpoint-up("very-small") {
    flex-direction: row;
    padding: 1.5em;
    width: rem(450);
  }
}

.rating__item:nth-child(2) {
  @include breakpoint-up("small") {
    left: rem(60);
  }
}

.rating__item:last-child {
  @include breakpoint-up("small") {
    left: rem(120);
  }
}

.rating__stars {
  display: flex;

  @supports (gap: rem(8)) {
    gap: rem(8);
  }
}

.rating__star:not(:first-child) {
  margin-left: rem(8);

  @supports (gap: rem(8)) {
    margin-left: 0;
  }
}

.rating__description {
  margin-bottom: 0;
  font-size: rem(14);

  @include breakpoint-up("very-small") {
    margin: 0;
    margin-left: rem(32);
  }
}
