@use "../abstracts" as *;

$gap: rem(8);

.rating {
  margin: rem(40) 0;
}

.rating__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: rem(15) 0;
  border-radius: 0.5em;
  background-color: $light-grayish-magenta;
  padding: 1em;
}

.rating__stars {
  display: flex;
  
  @supports (gap: $gap) {
    gap: $gap;
  }
}

.rating__star:not(:first-child) {
  $gap: rem(8);
  
  margin-left: $gap;
  
  @supports (gap: $gap) {
    margin-left: 0;
  }
}

.rating__description {
  margin-bottom: 0;
  font-size: rem(14);
}
