@use "../abstracts" as *;

/*------------------------------------*\
  #TESTIMONIAL
\*------------------------------------*/

.testimonial__container {
  margin: 0 auto;
  max-width: rem(500);

  @include breakpoint-up("very-small") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(60);
    align-items: center;
    margin: 0 auto;
    max-width: rem(1200);

    @supports (gap: rem(60)) {
      grid-gap: 0;
      gap: rem(60);
    }
  }
}

.testimonial__wrapper {
  text-align: center;

  @include breakpoint-up("very-small") {
    max-width: rem(480);
    text-align: left;
  }
}

.testimonial__title {
  @include breakpoint-up("very-small") {
    font-size: rem(45);
  }
  @include breakpoint-up("small") {
    font-size: rem(50);
  }
}

.testimonial__list {
  @include breakpoint-up("very-small") {
    display: flex;
    grid-column: 1 / 3;
    gap: rem(32);
  }
}

.testimonial__item {
  position: relative;
  border-radius: 0.5em;
  background-color: $very-dark-magenta;
  padding: rem(24);
  color: $pure-white;

  @include breakpoint-up("very-small") {
    padding: rem(40);
  }
}

.testimonial__item:not(:first-child) {
  margin-top: rem(20);

  @include breakpoint-up("very-small") {
    margin-top: 0;
    margin-left: rem(32);

    @supports (gap: rem(32)) {
      gap: rem(32);
      margin-left: 0;
    }
  }
}

.testimonial__item:nth-child(2) {
  @include breakpoint-up("very-small") {
    top: rem(20);
  }
}

.testimonial__item:last-child {
  @include breakpoint-up("very-small") {
    top: rem(40);
  }
}

.testimonial__person {
  display: flex;
  align-items: center;
}

.testimonial__photo {
  margin-right: rem(24);
  border-radius: 50%;
  width: rem(48);
  height: rem(48);
}

.testimonial__name, .testimonial__status {
  margin: 0;
  font-size: rem(14);
}

.testimonial__name {
  font-weight: 700;
}

.testimonial__verified {
  color: $soft-pink;
  font-style: normal;
}

.testimonial__quote {
  margin-top: rem(20);
  margin-bottom: 0;
  font-size: rem(14);
}
